body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: normal;
    padding: 0%;
    margin: 0;
    background-color: azure;
    
}
/*Global */
.container{
    width: 80%;
    margin: auto;
    overflow : hidden;
}
ul{
    margin: 0;
    padding: 0;

}

.button_1{
    height: 38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    
}
.dark{
    padding: 15px;
    background:#35424a;
    color:#ffffff;

}
/*header**/
.container #logo img{
    float:left;
    margin-bottom: 15px;
    padding-bottom: 25px;

}
header{
    background-color: darkslategray;
    color: #ffffff;
    padding-top: 30px;
    min-height: auto;
    border-bottom: goldenrod 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



header li{

    float: left;
    display: inline;
    padding: 0 20px 0 20px;

}

header  #branding{
    float: left;
    
}
header #branding h1{
    margin:5px;
}
header nav{
    float: right;
    margin-top: 10px;

}
header .highlight, header .current a{
    color : #e8491d;
    font-weight: bold;

}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
/*showcase*/
#showcase{
    min-height: 300px;
    background:url(../images/main_showcase.jpg) no-repeat 0 -600px;
    text-align: center;
    color: white;
}

#showcase h1{
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 10px;

}
#showcase p{
    font-size: 20px;
    color: brown;
}

#NewsLetter{
    padding:15px;
    color: #ffffff;
    background: #35424a;
}
#NewsLetter h1{
    float: left;
}
#NewsLetter form{
    float:right;
    margin-top: 15x;
}
#NewsLetter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
/*boxes*/
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding: 10px;


}
#boxes .box img{
    width:90px;
}

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding:5%

}
/*main-col*/
article#main-col{
    
    float: left;
    width:65%;

}

ul#Services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;

}
aside#sidebar .dark address {

    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
  }
aside#sidebar .contacts .box{
    float:left;
    text-align: center;
    width:25%;
    padding: 10px;
}
footer{
    margin-top: auto;
    padding:10px;
    color: white;
    background-color: #e8491d;
    text-align:center;
}

/* media queries*/
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1
    #newsletter form,
    #boxes .box,
    artilce#maincol,
    aside#sidebar{
        float: none;
        text-align: center;
        width:100%
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;

    }
    #newsletter button{
        display: block;
        width:100%
    }
    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%
        margin-bottom:5px;
    }
}